.food-container {
    margin-top: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;  
    flex-direction: column;  
}
@media (max-width:770px) {
    .food-container{
        margin-top: 7rem;
    }
}

.food-item {
    background-color :  #ffffff;
    border-radius: 8px;
    padding: 20px;
    margin: 10px;
    display: flex;
    justify-content: space-between;
    width: 40rem;
}

@media (max-width: 768px) {
    .food-container {
        flex-direction: column;
        align-items: center;
    }

    .food-item {
        width: 80%;
    }
}

.item-add-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.item-count-title{
    font-weight: 600;
    font-size:0.9rem;
    display: flex;
}
.item-count{
    border: 1px solid black;
    display:block;
    width: 2rem;
    padding-left: 0.5rem;
    margin-left: 1rem;
    border-radius: 4px;
}
.item-add-btn{
    width: 5rem;
    margin-top: 0.4rem;
    background-color:  #762009;
    color: white;
    border: none;
    font-weight: 500;
    height: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    cursor: pointer;
}
