.item-list{
  list-style: none;
  font-size: 0.8rem;
}

.cart-details{
  display: flex;
  justify-content: space-between;
  font-weight: 600;
  align-items: center;
  margin-top: 1rem;
}

.cart-buttons{
  float: right;
}

.cart-order-btn{
  margin: 1rem 0.8rem 0 0 ;
  width: 4.5rem;
  font-size: 0.7rem;
  font-weight: 400;
  height: 1.8rem;
  border: 1px solid #762009;
  color:white ;
  background-color:#762009;
  border-radius: 50px;
}
.cart-close-btn{
  margin: 1rem 0.8rem 0 0 ;
  width: 4.5rem;
  font-size: 0.7rem;
  font-weight: 400;
  height: 1.8rem;
  border: 1px solid #762009;
  color:#762009 ;
  background-color:none;
  border-radius: 50px;
}
