/* Modal.css */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 100;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  height: 8rem;
  width: 30rem;
  transform: translate(-50%, -50%);
  background: white;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  z-index: 101;
}



/* Inactivate Other Elements Styles */
body.modal-open {
  overflow: hidden;
}
